<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<body>
  <div class="container">
  <h1>Battle Royale!</h1>
<form action='/results'>
  <div class="form-group">
    <label for="sender">Player 1</label>
    <input id="player1" name="player1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="recipient">Player 2</label>
    <input id="player2" name="player2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Fight</button>
</form>
</div>
</body>
